@import '../section2/variable.scss';

.section2Wrapper{
    
    height: 100%;
    margin-top: 20px;
    position: relative;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2ContentTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    margin: 0;
    height: 100%;
    overflow: hidden;
    // border: 2px solid green;
    
    
}
.section2TxtContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.section2Txt{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-clip: content-box;
    -webkit-background-clip: content-box;
   
}
.section2TxtLeft{
    width: 50%;
       font-size: $fs-l;
    margin-left: 50px;
    
    span{
        color: $primary;
    }
    
}
.section2TxtRight{
    width: 40%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    div{
        // border: 2px solid green;
        width: fit-content;
    }
    
}
.text{
    margin-bottom: 30px;
    font-size: $fs-n;
}
.bigTxtContainer{
    position: relative;
    display: flex;
    // border: 2px solid;
    justify-content: center;

}
.bigTxt1{
    position: absolute;
    text-align: center;
    color: $primary;
    font-size: $fs-xl;
    font-weight: 600;
    z-index: 1;
    

    
}
.bigTxt2{
    
    width: fit-content;
    // border: 2px solid pink;
    left: 0;
    position: relative;
    text-align: center;
    color: transparent;
    font-size: $fs-xl;
    font-weight: 600;
    z-index: 3;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: $primary;
    
}
.section2ContentUnder{
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 2;
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 20vw;
    transform: skewY(-10deg);
    // background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
    
    animation: diagonalScroll 25s linear infinite;
    img{
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        margin-right: 10px;
        
       
    }

   
}


@keyframes diagonalScroll {
    from{
        transform: skewY(-8deg) translateX(0%)  
    }
    to{
        transform:skewY(-8deg) translateX(-100%) 
    }
    
} 

.bigTxt2Wrapper{
    position: relative;
    display: flex;
    
    justify-content: center;
}

.bigTxt3{
    position: absolute;
    text-align: center;
    color: $primary;
    font-size: $fs-xl2;
    font-weight: 600;
    z-index: 1;
}

.bigTxt4{
    width: fit-content;
    
    left: 0;
    position: relative;
    text-align: center;
    color: transparent;
    font-size: $fs-xl2;
    font-weight: 600;
    z-index: 3;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $primary;
}

.section2ContentUnder2{
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    padding-top:20px ;
    padding-bottom: 30px;
    width: 100%;
    height: 20vw;
    transform: skewY(10deg);
    animation: diagonalScroll2 25s linear infinite ;

    img{
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        margin-right: 10px;
    }
}
    @keyframes diagonalScroll2 {
    
    from{
        transform: skewY(8deg) translateX(-100%)  
    }
    to{
        transform:skewY(8deg) translateX(0%) 
    }
}

@media screen and (max-width:800px) {

        
        .section2Wrapper{
    
            height: 100%;
            margin-top: 20px;
            position: relative;
            
            padding-top: 0px;
            padding-bottom: 0px;
        }
        
    .section2TxtLeft{
        width: 50%;
        padding-right: 20px;
        font-size: $fs-lt;
        white-space: nowrap;
        
        span{
            color: $primary;
        }
        
    }

    .section2TxtRight{
        width: 50%;
        padding-left: 20px;
        // white-space: nowrap;
        // margin-left: 30px;
        display: flex;
        flex-direction: column;
        
        
    }
    .text{
        margin-bottom: 30px;
        font-size: $fs-nt;
    }
    .bigTxt3{
        
        font-size: $fs-xlt2; 
    }
    .bigTxt4{
       
        font-size: $fs-xlt2;
    }
    .bigTxt1{
       
        font-size: $fs-xlt;
       
        
    
        
    }
    .bigTxt2{
        
       
        font-size: $fs-xlt;
       
    }
    .section2ContentUnder2{
       
        top: 25px;
    }
}