.footerContainer{
    // background: #111111d2;
    margin-top: 50px;

}
.footerWrapper{
    color:white;
    display: flex;
    padding: 20px;
    
    
}
.footerLogo{
    display: flex;
    flex-direction: column;
    flex: 5.5;

    img{
        width: 100px;
    }
    p{
        color:rgb(153, 149, 149);
    }
}

.quicklinks{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 15px;
    h4{
        margin-top: 0;
        
    }
    p{
        margin-top: 0;
        color: rgb(153, 149, 149);
    }
}