$primary: #F87E03;
.section4WrapperContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 70vh;

}
.section4Wrapper{
    height: 100%;
    // display: flex;
    flex-direction: column;
    // border: 2px solid;
    align-items: center;
    // position: relative;
    

}
.section4Top{
    display: flex;
    height: fit-content;
    
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
    position: relative;
    background: rgba(15, 15, 15, 0.50);
    
}

.section4Right{
    display: flex;
    flex-direction: column;
    width: 40%;
    z-index: 12;
    // border: 2px solid indianred;
    
    margin-left: 50px;
}
.section4RightList{
    display: flex;
    // font-size: 0.75rem;
    // border: 2px solid brown;
    align-items: center;
    img{
        width: 6vw;
        margin-bottom: 10px;
    }
}
.listTxt{
    margin-left: 20px;
}
.listMobileImage{
    display: none;
}
.listMobileTxt{
    display: none;
}
.section4Left{
    width: 40%;
    z-index: 14;
    // border: 2px solid goldenrod;
    // margin-left: 200px;
    margin-right: 50px;

    #h2Mobile{
        display: none;
        
    }
}
.section4LeftList{
    // font-size: 0.75rem;
    
    h2{
        font-size: 2.5rem;
        
    }
}
#getStartedMobile{
    display: none;
}

.circle{
    position: absolute;
    z-index: 7;
    left: 0;
    background-color: $primary;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: blur(50.000003814697266px);
    animation: moveCircle 20s ease-in-out infinite;
    

}
@keyframes moveCircle {
    0%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0%);
    }
    
}

@media screen and (max-width: 800px) {
    .section4WrapperContainer{
       
        height: 70vh;
    }
}
//mobile view
@media screen and (max-width:580px) {
    .listImage,.listTxt{
       display: none;
    }
    .listMobileImage,.listMobileTxt{
        display: block;
    }
   
    .section4Top{
        display: flex;
        flex-direction: column;
        
        height: fit-content;
        
        
              
        
    }
   
    .section4Left{
        width: 90%;
        
       display: flex;
       justify-content: center;
        margin-right: 0;
        margin-bottom: 10px;
        h2{
          display: none;
        }
        #h2Mobile{
            display: block;
            text-align: center;
            font-size: 1.6rem;
        }
       
    }
    

       
    #getStartedPlatform{
        display: none;
    }
    #getStartedMobile{
        display: block;
        padding: 30px;
        
    }
    .section4Right{
        display: flex;
        flex-direction: column;
        width: 90%;
        z-index: 12;
        
        
        margin-left: 0;

        img{
            border: 2px solid rgb(255, 255, 255, 0.6);
            padding: 10px;
            margin-right:10px ;
            width: 55px;
            height: 70px;
            margin-bottom: 0;
        }
    }
    .section4RightList{
        
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        h3{
            
            padding: 0;
            margin-top: 10px;
            margin-bottom: 5px;

        }

        p{
            
            margin-top: 0;
            margin-bottom:10px ;
        }
    }
  
}