.section9Wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 2.5rem;
    }
}
.teamPic{

width: fit-content;
display: flex;
justify-content: center;
    img{
       
        width: 80%;
    }
}